name: Streamlit App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout репозитория
        uses: actions/checkout@v2

      - name: Настройка Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Установка зависимостей
        run: |
          python -m pip install --upgrade pip
          pip install streamlit-gsheets
          pip install -r Translit/requirements.txt

      - name: Запуск приложения Streamlit
        run: |
          streamlit run Translit/app.py
